<!DOCTYPE html>
<html lang="ja" prefix="og:http://ogp.me/ns#">
<head>
        <meta charset="utf-8">
<title>きらケアの派遣のお仕事 @習志野市</title>
<meta name="title" content="きらケアの派遣のお仕事 @習志野市">
<meta name="Description" content="2021/09/03 習志野市）の派遣の介護求人・仕事をお探しのあなたへ理想の介護のお仕事をご紹介！一人では大変な面接予定の調整や条件交渉などから、人間関係やキャリアの悩みまで、充実したサポートがあるのでいつも安心して働けます。【きらケア介護派遣】">
<meta name="Keywords" content="介護,派遣,求人,転職,仕事,きらケア">
<link rel="canonical" href="https://kc.local.com/temphire/183219/">
<meta name="robots" content="noindex,nofollow">
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">

<meta property="og:title" content="きらケアの派遣のお仕事 @習志野市"/>
<meta property="og:type" content="article"/>
<meta property="og:description" content="2021/09/03 習志野市）の派遣の介護求人・仕事をお探しのあなたへ理想の介護のお仕事をご紹介！一人では大変な面接予定の調整や条件交渉などから、人間関係やキャリアの悩みまで、充実したサポートがあるのでいつも安心して働けます。【きらケア介護派遣】"/>
<meta property="og:url" content="https://kc.local.com/temphire/183219/"/>
<meta property="og:image" content="https://kc.local.com/images/v3/both/imgOgp01.jpg"/>
<meta property="og:site_name" content="きらケア介護求人"/>
<meta property="og:locale" content="ja_JP"/>

<meta property="fb:app_id" content="2247250245545619"/>
<meta property="article:publisher" content="https://www.facebook.com/kiracare/"/>

<meta property="twitter:card" content="summary"/>
<meta property="twitter:site" content="@kira_care"/>
<meta property="twitter:title" content="きらケアの派遣のお仕事 @習志野市"/>
<meta property="twitter:url" content="https://kc.local.com/temphire/183219/"/>
<meta property="twitter:description" content="2021/09/03 習志野市）の派遣の介護求人・仕事をお探しのあなたへ理想の介護のお仕事をご紹介！一人では大変な面接予定の調整や条件交渉などから、人間関係やキャリアの悩みまで、充実したサポートがあるのでいつも安心して働けます。【きらケア介護派遣】"/>
<meta property="twitter:image" content="https://kc.local.com/images/v3/both/imgOgp01.jpg"/>
    <link rel="stylesheet" href="https://kc.local.com/css/v3/sp/all.css" type="text/css">
<link rel="preload" href="https://kc.local.com/fonts/font-awesome/fa-solid-900.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://kc.local.com/fonts/font-awesome/fa-regular-400.woff2" as="font" type="font/woff2" crossorigin="anonymous">
<link rel="preload" href="https://kc.local.com/fonts/bootstrap-kc/kc-icons.ttf?kkslzo" as="font" type="font/ttf" crossorigin="anonymous">
                <script async src="https://kc.local.com/js/bundle/common/sentry.js"></script>
        <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','');</script>
<!-- End Google Tag Manager -->



</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id="
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->





    <div class="l-wrapper">
        <header class="l-header">
            
<div class="p-header">
    <h1 class="p-header__ttl">介護派遣の求人/仕事情報なら【きらケア介護派遣】</h1>
</div>
<div class="p-headerPc" id="header">
    <div class="p-headerPc__block">
        <div class="p-headerPc__left">
            <ul class="p-headerPc__info">
                <li class="p-headerPc__infoItem"><a class="p-headerPc__infoCompany" href="/company_inquiry/input/">採用ご担当者様へ
                    </a></li>
                <li class="p-headerPc__infoItem">最終更新<time class="p-headerPc__infoDate">2021/09/03</time></li>
            </ul>
        </div>
        <div class="p-headerPc__logoArea">
            <div class="p-headerPc__logo">
                <a href="/">
                    <img class="p-headerPc__logoImg" data-lazyload="no" src="/images/v3/both/imgLogo01.svg" alt="きらケア">
                </a>
            </div>
        </div>
        <div class="p-headerPc__right">
            <ul class="p-headerPc__utility">
                <li class="p-headerPc__utilityItem">
                    <a class="p-headerPc__utilityBtn ag-334" href="/consider/"><i class="p-headerPc__utilityConsiderIcon"></i>キープリスト
                    </a>
                </li>
                <li class="p-headerPc__utilityItem">
                    <a class="p-headerPc__utilityBtn ag-335" href="/history/"><i class="p-headerPc__utilityHistoryIcon"></i>最近見た求人
                    </a>
                </li>
            </ul>
            <p class="p-headerPc__support"><a class="p-headerPc__supportLink p-headerPc__supportLink--cta ag-3_D" href="/support/input/"><br>登録</a></li>
        </div>
    </div>

    <nav class="p-globalNavPc">
        <ul class="p-globalNavPc__block">
            <li class="p-globalNavPc__list p-globalNavPc__list--drop ag-3_C">きらケアについて知る
                <ul class="p-globalNavPc__subList">
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/info/about/">きらケアとは</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/info/advisor/">キャリアアドバイザー紹介</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/content/episode/">きらケア転職/派遣 成功体験談</a>
                    </li>
                </ul>
            </li>
            <li class="p-globalNavPc__list p-globalNavPc__list--drop ag-3_C">介護について知る
                <ul class="p-globalNavPc__subList">
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/content/job_search_type/">ハローワーク・福祉人材特集</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/content/license/">介護・福祉資格特集</a>
                    </li>
                    <li class="p-globalNavPc__subListItem p-globalNavPc__subListItem--ttl">
                        <span class="p-globalNavPc__subTtl">関連サービス</span>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/note/">きらッコノート</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/lab/">きらケア研究所</a>
                    </li>
                </ul>
            </li>
            <li class="p-globalNavPc__list p-globalNavPc__list--drop ag-3_C">求人を探す
                <ul class="p-globalNavPc__subList">
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/searchpanel/?condition%5Bprefecture_id%5D%5B0%5D=13">条件を設定して求人を探す</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/area/">エリアから求人を探す</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/railway/">路線・駅から求人を探す</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/feature/">おすすめの条件で求人を探す</a>
                    </li>
                    <li class="p-globalNavPc__subListItem">
                        <a class="p-globalNavPc__link" href="/word/">おすすめキーワードで求人を探す</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>

<div class="p-headerSp js-header" id="js-header">
    <ul class="p-headerSp__utility">
        <li class="p-headerSp__utilityItem">
            <a class="p-headerSp__utilityBtn ag3-D" href="/support/input/">
                <i class="p-headerSp__utilityIcon p-headerSp__utilityIcon--cta"></i><span class="p-headerSp__utilityTxt p-headerSp__utilityTxt--cta">登録</span>
            </a>
            <a class="p-headerSp__utilityBtn ag-list-consider-tra" href="/consider/" rel="nofollow" >
                <i class="p-headerSp__utilityIcon p-headerSp__utilityIcon--consider"></i>
                <span class="p-headerSp__utilityTxt p-headerSp__utilityTxt--concider">キープ</span>
                            </a>
        </li>
        <li class="p-headerSp__utilityItem">
            <a href="/">
                <img class="p-headerSp__logoImg" data-lazyload="no" src="/images/v3/both/imgLogo01.svg" alt="きらケア">
            </a>
        </li>
        <li class="p-headerSp__utilityItem">
            <a class="p-headerSp__utilityBtn ag-336" href="/searchpanel/?condition%5Bprefecture_id%5D%5B0%5D=13">
                <i class="p-headerSp__utilityIcon p-headerSp__utilityIcon--search"></i><span class="p-headerSp__utilityTxt">求人検索</span>
            </a>
            <div class="p-globalNav js-toggleIsActive" data-toggleIsActive='["#js-globalNavTargetMenu", "#js-globalNavToggleButton", "#js-header"]' id="js-globalNavToggleButton">
                <a class="p-globalNav__icon js-globalNav ag-nav_menu">
                    <span class="p-globalNav__line"></span>
                    <span class="p-globalNav__line"></span>
                    <span class="p-globalNav__line"></span>
                </a>
            </div>
        </li>
    </ul>
</div>        </header>
        <div class="l-container" ontouchstart="">
                                        
        <section class="l-section" :ref="'js-stickyFooterTriggerTop'">
        <div class="l-contentWrap u-pa16" id="js-office-image-slider" v-pre>
            <div class="p-imagesSlider">
            <p class="p-imagesSlider__item p-imagesSlider__item--radius"><img class="p-imagesSlider__img" data-lazyload="no" src="/images/v3/both/dummy/imgKaigoPic_34.jpg" width="375" height="281" alt=""></p>
        <div>
        <button class="p-imagesSlider__btn p-imagesSlider__btn--prev" v-if="hasPrevSlide" v-on:click="prevSlide" v-cloak></button>
        <button class="p-imagesSlider__btn p-imagesSlider__btn--next" v-if="hasNextSlide" v-on:click="nextSlide" v-cloak></button>
    </div>
</div>
        </div>

        <div class="l-contentSingle">
                        
<div class="p-jobDetail p-jobDetail--block">
    <ul class="c-tag">
        <li class="c-tag__status">派遣</li>
        <li class="c-tag__status">ヘルパー・介護職</li>
    </ul>

    <table class="p-jobDetail__table">
        <tr>
            <th class="p-jobDetail__tableHead">給与</th>
            <td class="p-jobDetail__tableData">
                時給
                                    <span class="p-jobDetail__tableDataEmphasis">1,250</span>〜
                    <span class="p-jobDetail__tableDataEmphasis">1,400</span>円
                                
            </td>
        </tr>
                    <tr>
                <th class="p-jobDetail__tableHead">施設<br>形態</th>
                <td class="p-jobDetail__tableData">グループホーム</td>
            </tr>
                <tr>
            <th class="p-jobDetail__tableHead">勤務地</th>
            <td class="p-jobDetail__tableData">千葉県習志野市</td>
        </tr>
        <tr>
            <th class="p-jobDetail__tableHead">勤務<br>日数</th>
                            <td class="p-jobDetail__tableData">週1日以上</td>
                    </tr>
                    <tr>
                <th class="p-jobDetail__tableHead">資格</th>
                <td class="p-jobDetail__tableData">介護職員初任者研修</td>
            </tr>
                            <tr>
                <th class="p-jobDetail__tableHead">最寄<br>り駅</th>
                <td class="p-jobDetail__tableData">京成本線 京成大久保駅</td>
            </tr>
                                    <tr>
                <th class="p-jobDetail__tableHead">勤務<br>時間</th>
                <td class="p-jobDetail__tableData">
                                            <p>【夜勤】17:00~09:00</p>
                                            <p>週1日勤務〜可</p>
                                    </td>
            </tr>
            </table>
    
            <ul class="c-tag">
                            <li class="c-tag__feature">夜勤のみ</li>
                            <li class="c-tag__feature">週2、3日〜OK</li>
                    </ul>
    </div>        </div>

        <div class="l-content">
            <div class="p-btnArea">
                <a class="c-btnPrimary u-mb24 ag-363-1" href="/support/input/steppanel?job%5Bid%5D=183219">
                    <p class="c-btnPrimary__txt u-textCenter">この求人に応募・<br>問い合わせる</p>
                    <p class="c-btnPrimary__appeal">カンタン60秒！無料登録</p>
                </a>
    
                                <template v-if="isAddableOfferConsider({&quot;id&quot;:183219,&quot;is_in_consider&quot;:false})">
                    <button class="c-btnDefault ag-list_consider_fav ag-59_A_4" data-target="#considerOn" @click="addOfferConsider({&quot;id&quot;:183219,&quot;is_in_consider&quot;:false})">
                        <i class="c-btnDefault__btnIcon ag-list_consider_fav"></i><img data-lazyload="no" class="c-btnDefault__btnImg ag-59_A_5" src="/images/v3/sp/text/imgConsider02_add.svg" alt="">
                    </button>
                </template>
                <template v-else>
                    <button class="c-btnDefault is-active ag-59_A_4" data-target="#considerOff" @click="deleteOfferConsider({&quot;id&quot;:183219,&quot;is_in_consider&quot;:false})">
                        <i class="c-btnDefault__btnIcon"></i><img data-lazyload="no" class="c-btnDefault__btnImg ag-59_A_5" src="/images/v3/sp/text/imgConsider02_remove.svg" alt="">
                    </button>
                </template>
                <div class="p-considerBalloon p-considerBalloon--shortHeight2">
                    <p class="p-considerBalloon__txt">会員登録なしでキープできます</p>
                </div>
    
                <p class="p-date">更新日 1ヶ月以上前</p>
    
                                    <p class="u-textSmall2 u-mb24">募集がすでに終了している可能性もございますのでご応募の前に求人状況を確認させていただきます。</p>
                            </div>

                       <p><a href="/info/about/" class="c-btnOutlineLinkAbout">きらケアって<span class="u-inlineBlock">どんなサービス？</span></a></p>
        </div>

    </section>

        <section class="l-section">
        <div class="l-content">
            
<div class="p-haken">
    <h3 class="p-haken__ttl">きらケア介護派遣のQ&amp;A</h3>
    <p class="p-haken__infoCaption">きらケア派遣のサービスや、介護派遣に加入する際の疑問にお答えします！</p>
    <ul class="p-haken__info">
        <li class="p-haken__infoBlock">
            <p class="p-haken__infoQuestion">社会保険には入れる？</p>
            <p class="p-haken__infoTxt"><span class="p-haken__infoTxtEmphasis">一定の条件を満たせば加入することができます。</span><br>所定労働時間・日数が同じ事業所の一般社員の所定労働時間・日数のおおむね3/4 以上であることが条件です</p>
            <p class="p-haken__infoMore">詳しくは<a class="p-haken__infoMoreLink" href="https://job.kiracare.jp/note/article/16199/" target="_blank">こちら</a></p>
        </li>
        <li class="p-haken__infoBlock">
            <p class="p-haken__infoQuestion">健康診断は受けられるの？</p>
            <p class="p-haken__infoTxt"><span class="p-haken__infoTxtEmphasis">毎年1回健康診断を受けることができます。</span><br>例年5月~6月ごろにメールにてご案内をお送りいたします。</p>
            <p class="p-haken__infoMore">詳しくは<a class="p-haken__infoMoreLink" href="https://job.kiracare.jp/note/article/16185/" target="_blank">こちら</a></p>
        </li>
        <li class="p-haken__infoBlock">
            <p class="p-haken__infoQuestion">年末調整の手続きは自分するの？</p>
            <p class="p-haken__infoTxt"><span class="p-haken__infoTxtEmphasis">年末調整はきらケアにて手続きを行います。</span></p>
            <p class="p-haken__infoMore">詳しくは<a class="p-haken__infoMoreLink" href="https://job.kiracare.jp/note/article/16193/" target="_blank">こちら</a></p>
        </li>
    </ul>
</div>            
<div class="p-embeddedForm">
            
                <form class="p-embeddedForm__hearing " method="GET" action="/support/input/steppanel/">
                    <input type="hidden" name="job[id]" value="183219">
        
        <div class="p-embeddedForm__header">
            <p class="p-embeddedForm__formTtl">
                <span class="p-embeddedForm__ttlSmall">｢きらケア｣に登録して</span>
                無料転職サポートを受ける
            </p>
        </div>
        <div class="p-embeddedForm__step">
            <p class="p-embeddedForm__stepTtl">今のお気持ちに近いのはどちらですか？</p>
            <div class="p-embeddedForm__stepItemWrap">
                                    <label class="p-embeddedForm__stepItem c-radio ">
                        <input name="form_kc_c1[addons][5][type_id]" type="radio" class="c-radio__input" value="20">
                        <i class="c-radio__icon u-textSmall3"></i>
                        <span class="c-radio__txt u-pl4">近いうちに転職したい</span>
                    </label>
                                    <label class="p-embeddedForm__stepItem c-radio ">
                        <input name="form_kc_c1[addons][5][type_id]" type="radio" class="c-radio__input" value="21">
                        <i class="c-radio__icon u-textSmall3"></i>
                        <span class="c-radio__txt u-pl4">今は情報収集したい</span>
                    </label>
                            </div>
        </div>
        <button class="c-btnPrimary p-embeddedForm__cta ag-363-2" type="submit" rel="nofollow">次へ</button>
    </form>
</div>
        </div>
    </section>

        <section class="l-section u-bgYellow">
                <h2 class="p-headingContent">この求人を見た人はこんな求人もチェックしています</h2>
        <div class="l-contentFull l-contentFull--pcSlider" id="js-recommend-slider" v-pre>
            
<div class="p-cardSlider">
    <v-carousel class="p-cardSlider__itemWrap" ref="carousel" :scroll-per-page="false" :pagination-enabled=false :space-padding="32" :per-page=1>
                                <v-carousel-slide class="p-cardSlider__item" v-cloak>
                <div class="p-cardSlider__wrap">
                    <a href="/temphire/190919/" class="p-cardSlider__link">
                        <div class="p-cardSlider__cardHeader">
                            <p class="p-cardSlider__officeImageBlock">
                                <img class="p-cardSlider__officeImage" src="/images/v3/both/dummy/imgKaigoPic_10.jpg" width="297" height="222" alt="">
                            </p>
                        </div>
                        <div class="p-cardSlider__body">
                                                        <ul class="c-tag">
                                <li class="c-tag__status">派遣</li>
                                <li class="c-tag__status">日勤・夜勤両方</li>
                            </ul>
                            <ul class="p-cardSlider__recruitList">
                                <li class="p-cardSlider__recruitListData">
                                    <span class="p-cardSlider__salary">時給</span>
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,250</span>円〜
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,400</span>円
                                    <span class="p-cardSlider__salaryMore"></span>
                                </li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__facility">ヘルパー・介護職 / 老人デイサービスセンター</span></li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__address">習志野市 / 京成大久保駅</span></li>
                                                                    <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__license">介護職員初任者研修</span></li>
                                                            </ul>
                                                                                </div>
                    </a>
                </div>
            </v-carousel-slide>
                                <v-carousel-slide class="p-cardSlider__item" v-cloak>
                <div class="p-cardSlider__wrap">
                    <a href="/temphire/179792/" class="p-cardSlider__link">
                        <div class="p-cardSlider__cardHeader">
                            <p class="p-cardSlider__officeImageBlock">
                                <img class="p-cardSlider__officeImage" src="/images/v3/both/dummy/imgKaigoPic_15.jpg" width="297" height="222" alt="">
                            </p>
                        </div>
                        <div class="p-cardSlider__body">
                                                        <ul class="c-tag">
                                <li class="c-tag__status">派遣</li>
                                <li class="c-tag__status">日勤のみ</li>
                            </ul>
                            <ul class="p-cardSlider__recruitList">
                                <li class="p-cardSlider__recruitListData">
                                    <span class="p-cardSlider__salary">時給</span>
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,250</span>円〜
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,400</span>円
                                    <span class="p-cardSlider__salaryMore"></span>
                                </li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__facility">ヘルパー・介護職 / 老人デイサービスセンター</span></li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__address">習志野市 / 京成大久保駅</span></li>
                                                                    <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__license">介護職員初任者研修</span></li>
                                                            </ul>
                                                                                </div>
                    </a>
                </div>
            </v-carousel-slide>
                                <v-carousel-slide class="p-cardSlider__item" v-cloak>
                <div class="p-cardSlider__wrap">
                    <a href="/temphire/1251895/" class="p-cardSlider__link">
                        <div class="p-cardSlider__cardHeader">
                            <p class="p-cardSlider__officeImageBlock">
                                <img class="p-cardSlider__officeImage" src="/images/v3/both/dummy/imgKaigoPic_19.jpg" width="297" height="222" alt="">
                            </p>
                        </div>
                        <div class="p-cardSlider__body">
                                                        <ul class="c-tag">
                                <li class="c-tag__status">派遣</li>
                                <li class="c-tag__status">日勤・夜勤両方</li>
                            </ul>
                            <ul class="p-cardSlider__recruitList">
                                <li class="p-cardSlider__recruitListData">
                                    <span class="p-cardSlider__salary">時給</span>
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,100</span>円〜
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,300</span>円
                                    <span class="p-cardSlider__salaryMore"></span>
                                </li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__facility">ヘルパー・介護職 / 特別養護老人ホーム</span></li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__address">習志野市 / 実籾駅</span></li>
                                                                    <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__license">無資格OK</span></li>
                                                            </ul>
                                                                                </div>
                    </a>
                </div>
            </v-carousel-slide>
                                <v-carousel-slide class="p-cardSlider__item" v-cloak>
                <div class="p-cardSlider__wrap">
                    <a href="/temphire/190905/" class="p-cardSlider__link">
                        <div class="p-cardSlider__cardHeader">
                            <p class="p-cardSlider__officeImageBlock">
                                <img class="p-cardSlider__officeImage" src="/images/v3/both/dummy/imgKaigoPic_22.jpg" width="297" height="222" alt="">
                            </p>
                        </div>
                        <div class="p-cardSlider__body">
                                                        <ul class="c-tag">
                                <li class="c-tag__status">派遣</li>
                                <li class="c-tag__status">日勤・夜勤両方</li>
                            </ul>
                            <ul class="p-cardSlider__recruitList">
                                <li class="p-cardSlider__recruitListData">
                                    <span class="p-cardSlider__salary">時給</span>
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,250</span>円〜
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,400</span>円
                                    <span class="p-cardSlider__salaryMore"></span>
                                </li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__facility">ヘルパー・介護職 / 訪問介護ステーション</span></li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__address">習志野市 / 実籾駅</span></li>
                                                                    <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__license">介護職員初任者研修</span></li>
                                                            </ul>
                                                                                </div>
                    </a>
                </div>
            </v-carousel-slide>
                                <v-carousel-slide class="p-cardSlider__item" v-cloak>
                <div class="p-cardSlider__wrap">
                    <a href="/temphire/190137/" class="p-cardSlider__link">
                        <div class="p-cardSlider__cardHeader">
                            <p class="p-cardSlider__officeImageBlock">
                                <img class="p-cardSlider__officeImage" src="/images/v3/both/dummy/imgKaigoPic_18.jpg" width="297" height="222" alt="">
                            </p>
                        </div>
                        <div class="p-cardSlider__body">
                                                        <ul class="c-tag">
                                <li class="c-tag__status">派遣</li>
                                <li class="c-tag__status">日勤・夜勤両方</li>
                            </ul>
                            <ul class="p-cardSlider__recruitList">
                                <li class="p-cardSlider__recruitListData">
                                    <span class="p-cardSlider__salary">時給</span>
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,250</span>円〜
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,400</span>円
                                    <span class="p-cardSlider__salaryMore"></span>
                                </li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__facility">ヘルパー・介護職 / 訪問介護ステーション</span></li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__address">千葉市花見川区 / 幕張本郷駅</span></li>
                                                                    <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__license">介護職員初任者研修</span></li>
                                                            </ul>
                                                                                </div>
                    </a>
                </div>
            </v-carousel-slide>
                                <v-carousel-slide class="p-cardSlider__item" v-cloak>
                <div class="p-cardSlider__wrap">
                    <a href="/temphire/1261720/" class="p-cardSlider__link">
                        <div class="p-cardSlider__cardHeader">
                            <p class="p-cardSlider__officeImageBlock">
                                <img class="p-cardSlider__officeImage" src="/images/v3/both/dummy/imgKaigoPic_36.jpg" width="297" height="222" alt="">
                            </p>
                        </div>
                        <div class="p-cardSlider__body">
                                                        <ul class="c-tag">
                                <li class="c-tag__status">派遣</li>
                                <li class="c-tag__status">日勤・夜勤両方</li>
                            </ul>
                            <ul class="p-cardSlider__recruitList">
                                <li class="p-cardSlider__recruitListData">
                                    <span class="p-cardSlider__salary">時給</span>
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,100</span>円〜
                                    <span class="p-cardSlider__recruitListDataEmphasis">1,300</span>円
                                    <span class="p-cardSlider__salaryMore"></span>
                                </li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__facility">ヘルパー・介護職 / 有料老人ホーム</span></li>
                                <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__address">習志野市 / 実籾駅</span></li>
                                                                    <li class="p-cardSlider__recruitListData"><span class="p-cardSlider__license">無資格OK</span></li>
                                                            </ul>
                                                                                </div>
                    </a>
                </div>
            </v-carousel-slide>
            </v-carousel>
    <button v-if="hasPrevSlide" v-on:click="prevSlide" v-cloak class="p-cardSlider__btn p-cardSlider__btn--prev">
    </button>
    <button v-if="hasNextSlide" v-on:click="nextSlide" v-cloak class="p-cardSlider__btn p-cardSlider__btn--next">
    </button>
</div>
        </div>

        <h2 class="p-headingContent p-headingContent--line">他の求人を探す</h2>

                <div class="l-content">
            <div class="c-card">
                
<ul class="p-linkList">
        

                                        
<li class="p-linkList__item">
            <h4 class="p-linkList__ttl">同じエリアで介護求人を探す</h4>
        <div class="p-linkList__list">
                                    <p class="p-linkList__subTtl">都道府県</p>
                        <ul class="p-linkList__links">
                                                            <li class="p-linkList__partition"><a class="p-linkList__txt" href="/area/chiba/condition/wp4/">千葉県の介護求人</a></li>
                                                </ul>
                                    <p class="p-linkList__subTtl">市区町村</p>
                        <ul class="p-linkList__links">
                                                            <li class="p-linkList__partition"><a class="p-linkList__txt" href="/area/chiba/12216/wp4/">千葉県 習志野市の介護求人</a></li>
                                                </ul>
            </div>
</li>
                        </ul>
            </div>
        </div>

                <div class="l-content">
            
<div class="c-card u-pa16">
    <div class="c-row u-mb8">
        <div class="c-row__col12">
            <div class="p-btnArea">
                <a class="c-btnOutlineLink ag-358" href="/searchpanel/?condition%5Bprefecture_id%5D%5B0%5D=13">条件を指定して探す</a>
            </div>
        </div>
    </div>

        <div class="u-mt16">
        
<v-search-panel-freeword :ref-reserved-search-word="null"></v-search-panel-freeword>    </div>
</div>        </div>
    </section>

        <section class="l-section">
        <h2 class="p-headingContent02">介護派遣<br>お役立ちコンテンツ</h2>
        <h3 class="p-headingSubContent02">サービス紹介</h3>
        <div class="l-content">
            
<ul class="p-serviceContents">
    <li class="p-serviceContents__item p-serviceContents__item--arrow">
        <a class="p-serviceContents__block" href="/info/about/">
            <div class="p-serviceContents__media">
                <p class="p-serviceContents__imageBlock"><img class="p-serviceContents__image" src="/images/v3/sp/common/listImgInfoAbout.png" width="79" height="80" alt="きらケアとは"></p>
                <div class="p-serviceContents__body">
                    <h4 class="p-serviceContents__ttl">きらケアとは</h4>
                    <p class="p-serviceContents__txt">きらケアの特徴やサービスの流れなどをご紹介</p>
                </div>
            </div>
        </a>
    </li>
    <li class="p-serviceContents__item p-serviceContents__item--arrow">
        <a class="p-serviceContents__block" href="/content/episode/">
            <div class="p-serviceContents__media">
                <p class="p-serviceContents__imageBlock"><img class="p-serviceContents__image" src="/images/v3/sp/common/listImgVoice.png" width="79" height="80" alt="転職体験談"></p>
                <div class="p-serviceContents__body">
                    <h4 class="p-serviceContents__ttl">転職体験談</h4>
                    <p class="p-serviceContents__txt">きらケアを利用された方々の体験談はこちら</p>
                </div>
            </div>
        </a>
    </li>
    <li class="p-serviceContents__item p-serviceContents__item--arrow">
        <a class="p-serviceContents__block" href="/info/advisor/">
            <div class="p-serviceContents__media">
                <p class="p-serviceContents__imageBlock"><img class="p-serviceContents__image" src="/images/v3/sp/common/listImgAdvisor.png" width="79" height="80" alt="キャリアアドバイザー紹介"></p>
                <div class="p-serviceContents__body">
                    <h4 class="p-serviceContents__ttl">キャリアアドバイザー紹介</h4>
                    <p class="p-serviceContents__txt">介護求人専門のアドバイザーはこちら</p>
                </div>
            </div>
        </a>
    </li>
    <li class="p-serviceContents__item p-serviceContents__item--arrow">
        <a class="p-serviceContents__block" href="/content/license/">
            <div class="p-serviceContents__media">
                <p class="p-serviceContents__imageBlock"><img class="p-serviceContents__image" src="/images/v3/sp/common/listImgRecruit.png"width="79" height="80" alt="介護福祉士各特集"></p>
                <div class="p-serviceContents__body">
                    <h4 class="p-serviceContents__ttl">介護福祉資格特集</h4>
                    <p class="p-serviceContents__txt">介護資格の取得に役立つ情報をまとめました</p>
                </div>
            </div>
        </a>
    </li>
    <li class="p-serviceContents__item p-serviceContents__item--arrow">
        <a class="p-serviceContents__block" href="/info/haken/">
            <div class="p-serviceContents__media">
                <p class="p-serviceContents__imageBlock"><img class="p-serviceContents__image" src="/images/v3/sp/common/listImghellowWork.png" width="79" height="80" alt="派遣に関して"></p>
                <div class="p-serviceContents__body">
                    <h4 class="p-serviceContents__ttl">派遣に関して</h4>
                    <p class="p-serviceContents__txt">派遣の働き方で気になることをまとめました</p>
                </div>
            </div>
        </a>
    </li>
</ul>        </div>
    </section>

        <section class="l-section u-bgWhite">
        <div class="l-contentSingle" :ref="'js-stickyFooterTriggerBottom'">
            <div class="p-ctaAndInfo">
        <div class="p-ctaAndInfo__block">
        <a class="p-ctaAndInfo__link ag-333_B" href="/support/input/">
            <img class="p-ctaAndInfo__bnrImg" src="/images/v3/sp/cta/imgCtaBnr.png" width="327" height="101" alt="転職前後の不安に、プロが徹底サポート！まずは無料で相談してみる">
        </a>
    </div>
    <div class="p-ctaAndInfo__block">
        <a href="tel:0120295888" class="p-ctaAndInfo__link ag-333_C">
            <img class="p-ctaAndInfo__bnrImg" src="/images/v3/sp/cta/imgCtaTellBnr.png" width="327" height="104" alt="お電話から登録！">
            <p class="p-ctaAndInfo__phone ag-333_C"><i class="fas fa-icon fa-phone fa-rotate-90 ag-333_C"></i>0120-295-888</p>
            <p class="p-ctaAndInfo__txt ag-333_C">受付時間：9:00-21:00 (土日祝除く)</p>
        </a>
    </div>
        <div class="p-ctaAndInfo__noteCard">
        <p>「きらケア」は厚生労働大臣認可の介護求人紹介 / 転職支援サービスです。完全無料にてご利用いただけます。</p>
        <ul>
            <li>厚生労働大臣許可番号</li>
            <li>有料職業紹介事業　紹介13-ユ-309623</li>
            <li>労働者派遣事業　派13-310987</li>
        <ul>
    </div>
</div>        </div>
    </section>

        
<div class="c-fixed p-stickyFooterWrap" :class="{'is-active' : isViewBetweenTarget('js-stickyFooterTriggerTop','js-stickyFooterTriggerBottom') }">
    <div class="c-row c-row--spaceSmall">
        <div class="c-row__col4 p-stickyFooterWrap__btn">
            <a class="c-btnBlock p-stickyFooterWrap__search ag-side_search_tra" href="/searchpanel/?condition%5Bprefecture_id%5D%5B0%5D=13">
                <p class="p-stickyFooterWrap__txt p-stickyFooterWrap__txt--search">
                    条件変更
                </p>
            </a>
        </div>
        <div class="c-row__col8">
            <a class="c-btnFlatPrimary ag-side_search_mcv" href="/support/input/steppanel/">
                <p class="p-stickyFooterWrap__txt">希望の求人を紹介してもらう</p>
            </a>
        </div>
    </div>
</div>
        
        
<div class="c-modal c-modal--center" :class="{'is-open': isConsiderModalActive}">
    <div class="c-modal__content">
        <div class="c-modal__inner u-textCenter">
            <div class="c-modal__header"><p class="c-heading3Secondary u-textLarge2">キープリストに追加しました。</p></div>
            <div class="c-modal__body">
                <p class="u-mb16">キープリストへの追加が完了いたしました。</p>
                <p class="p-btnArea">
                    <a class="c-btnPrimary ag-modal-consider-tra" href="/consider/" rel=nofollow>キープリストを見る</a>
                </p>
            </div>
            <button class="c-modal__close" @click="toggleConsiderModal()"><i class="fas fa-times"></i></button>
        </div>
    </div>
    <div class="c-modal__overlay" @click="toggleConsiderModal()"></div>
</div>

                                </div>         <footer class="l-footer">
            <div class="p-footerPc">
    <div class="p-footerPc__block">
        <ul class="p-footerPc__navTop">
            <li class="p-footerPc__navTopItem"><a class="p-footerPc__navTopLink" href="/inquiry/input/">お問い合わせ</a></li>
            <li class="p-footerPc__navTopItem"><a class="p-footerPc__navTopLink" href="https://leverages-medicalcare.jp/company" target="_blank">会社概要</a></li>
            <li class="p-footerPc__navTopItem"><a class="p-footerPc__navTopLink" href="https://leverages-medicalcare.jp/protection/" target="_blank">個人情報保護方針</a></li>
            <li class="p-footerPc__navTopItem"><a class="p-footerPc__navTopLink" href="/info/protection/">個人情報の取り扱いについて</a></li>
            <li class="p-footerPc__navTopItem"><a class="p-footerPc__navTopLink" href="/info/sitemap/">サイトマップ</a></li>
            <li class="p-footerPc__navTopItem"><a class="p-footerPc__navTopLink" href="/company_inquiry/input/">採用ご担当者様へ</a></li>
        </ul>
        <ul class="p-footerPc__navBottom">
            <li class="p-footerPc__navBottomItem"><a class="p-footerPc__navBottomLink" href="/">きらケアトップから探す</a></li>
            <li class="p-footerPc__navBottomItem"><a class="p-footerPc__navBottomLink" href="/area/">エリアから探す</a></li>
            <li class="p-footerPc__navBottomItem"><a class="p-footerPc__navBottomLink" href="/railway/">路線・駅から探す</a></li>
            <li class="p-footerPc__navBottomItem"><a class="p-footerPc__navBottomLink" href="/feature/">おすすめの条件から探す</a></li>
            <li class="p-footerPc__navBottomItem"><a class="p-footerPc__navBottomLink" href="/word/">おすすめの検索ワードから探す</a></li>
        </ul>
    </div>
    <p class="p-footerPc__copyright">© 2015-2021 Leverages MedicalCare Co., Ltd. <a class="p-footerPc__copyrightLink" href="/">きらケア</a>
    </p>
</div>

<div class="p-footerSp">
    <div class="p-footerSp__content">
        <ul class="p-footerSp__nav">
            <li class="p-footerSp__navItem"><a class="p-footerSp__navLink" href="/inquiry/input/">お問い合わせ</a></li>
            <li class="p-footerSp__navItem"><a class="p-footerSp__navLink" href="https://leverages-medicalcare.jp/company" target="_blank">会社概要</a></li>
            <li class="p-footerSp__navItem"><a class="p-footerSp__navLink" href="https://leverages-medicalcare.jp/protection/" target="_blank">個人情報保護方針</a></li>
            <li class="p-footerSp__navItem"><a class="p-footerSp__navLink" href="/info/protection/">個人情報の取り扱いについて</a></li>
            <li class="p-footerSp__navItem"><a class="p-footerSp__navLink" href="/company_inquiry/input/">採用ご担当者様へ</a></li>
            <li class="p-footerSp__navItem"><a class="p-footerSp__navLink" href="/info/sitemap/">サイトマップ</a></li>
        </ul>
    </div>
    <p class="p-footerSp__copyright">
        © 2015-2021 Leverages MedicalCare Co., Ltd.
        <a class="p-footerSp__navLink" href="/">きらケア</a>
    </p>
    
<nav class="p-globalNavMenu" id="js-globalNavTargetMenu">
    <section class="l-section">
        <div class="p-sideMenu">
            <div class="p-sideMenu__ctaBtn">
                <p class="p-sideMenu__ctaBtnBalloonArea"><span class="p-sideMenu__ctaBtnBalloon">簡単<br>1分</span></p>
                <a class="p-sideMenu__ctaBtnLink c-btnPrimary ag-menu_CTA" href="/support/input/">
                    <span class="p-sideMenu__ctaBtnCaption">不安の多い転職、プロが徹底サポート！</span>
                    <span class="p-sideMenu__ctaBtnTxt">無料転職サポートに<br>申し込む</span>
                    <span class="p-sideMenu__ctaBtnImageBlock"><img class="p-sideMenu__ctaBtnImage" src="/images/v3/sp/kirakko/imgkirakko06.png" width="63" height="85" alt=""></span>
                </a>
            </div>
            <p class="p-sideMenu__telBtn">
                <a class="p-sideMenu__telBtnLink ag-menu_phone" href="tel:0120295888">
                    <span class="p-sideMenu__telBtnMessage">お電話で登録はこちらから</span>
                    <span class="p-sideMenu__telBtnNumber">0120-295-888</span>
                    <span class="p-sideMenu__telBtnInfo">受付時間：9:00-21:00 (土日祝除く)</span>
                </a>
            </p>
        </div>
    </section>

    <section class="l-section">
        <div class="p-linkList p-linkList--noHeader">
            <p class="c-accordion p-linkList__ttl p-linkList__ttl--accordion js-accordion is-open">介護求人を探す</p>
            <ul class="c-list c-list--arrow c-accordionContent js-accordionContent is-open">
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_area_tra" href="/area/">エリアから求人を探す</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_railway_tra" href="/railway/">路線・駅から求人を探す</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_feature_tra" href="/feature/">おすすめの条件から求人を探す</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_word_tra" href="/word/">おすすめの検索ワードから求人を探す</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_consider_tra" href="/consider/">キープリスト</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_history_tra" href="/history/">最近見た求人</a>
                </li>
            </ul>
        </div>
    </section>

    <section class="l-section">
        <div class="p-linkList p-linkList--noHeader">
            <p class="c-accordion p-linkList__ttl p-linkList__ttl--accordion js-accordion is-open">サービス紹介</p>
            <ul class="c-list c-list--arrow c-accordionContent js-accordionContent is-open">
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_about_tra" href="/info/about/">きらケアとは</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_quiz_tra" href="/content/quiz/">きらケアクイズ</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_advisor_tra" href="/info/advisor/">介護求人専門のアドバイザー紹介</a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_note_tra" href="/note/">きらッコノート<span class="c-list__txtSmall">介護をもっと好きになるサイト</span></a>
                </li>
                <li class="c-list__item">
                    <a class="c-list__block ag-menu_lab_tra" href="/lab/">きらケア研究所<span class="c-list__txtSmall">介護人事に特化した情報サイト</span></a>
                </li>
            </ul>
        </div>
    </section>
    
    <section class="l-section">
        <div class="p-linkList p-linkList--noHeader">
            <p class="p-linkList__ttl">その他</p>
        </div>
        <ul class="c-list c-list--arrow">
            <li class="c-list__item">
                <a class="c-list__block ag-menu_top_tra" href="/">トップへ戻る</a>
            </li>
        </ul>
    </section>
</nav></div>        </footer>
    </div> 
<script>
  window.Laravel = window.Laravel || {};
  window.Laravel.csrfToken = "8TbB52dzA9RKidM6P8vKeRSeCMLxHxLlwz3q7PQO";
</script>
<script defer src="https://kc.local.com/js/bundle.js"></script>
<script defer src="https://kc.local.com/js/sp/bootstrap.js"></script>
<script defer src="https://kc.local.com/js/sp/sw-main.js"></script>
<script defer src="/js/sp/pages/temphire/job_id/view.js"></script>
</body>
</html>
